.navbar {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    padding-top: 30pt;
}

.navbar-brand {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: inline-block;
    transition: 0.5s;
    margin-left: 100pt;
}

.navbar-brand img {
    height: 50pt;
}

.nav-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: inline-block;
    transition: 0.5s;
    padding-top: 20pt;
}

#Google_Play {
    margin-left: 200pt;
}

.nav-btn img {
    height: 35pt;
}