body {
    font-family: Quicksand;
    font-weight: bold;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.5);
}

#row1 {
    color: #ffffff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    padding-top: 50pt;
    transition: 0.5s;
}

.navbar-brand {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: inline-block;
    transition: 0.5s;
    margin-left: 100pt;
}

.navbar-brand img {
    height: 50pt;
}

.nav-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: inline-block;
    transition: 0.5s;
    padding-top: 20pt;
}

#Google_Play {
    margin-left: 300pt;
}

.nav-btn img {
    height: 35pt;
}

.div_carousel {
    position: relative;
}
.div_in_carousel {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #231f20;
    opacity: 0.9;
    height: 100%;
    width: 50%;
}

.content_in_carousel {
    padding-top: 170pt;
    padding-left: 115pt;
}

.content_in_carousel p {
    font-size: 45pt;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 5pt;
    pointer-events: none;
    color: #727272;
}

.left-addon .glyphicon { 
    left: 0px;
}

.navbar-right li button p {
    font-size: 20pt;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar-right {
    margin-right: 60pt;
}

@media(width:1680px){
    .navbar {
        padding-top: 50pt;
    }

    .navbar-brand {
        margin-left: 100pt;
    }

    .navbar-brand img {
        height: 50pt;
    }
    .nav-btn {
        padding-top: 20pt;
    }
    #Google_Play {
        margin-left: 200pt;
    }
    .nav-btn img {
        height: 35pt;
    }
    .content_in_carousel {
        padding-top: 170pt;
        padding-left: 115pt;
    }
    .content_in_carousel p {
        font-size: 45pt;
    }
    .inner-addon .glyphicon {
        padding: 5pt;
    }
    .left-addon input { 
        padding-left: 30pt;
    }
    .navbar-right li button p {
        font-size: 20pt;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }
    .navbar-right {
        margin-right: 60pt;
    }
}

@media(width:1366px){
    .navbar {
        padding-top: 50pt;
    }

    .navbar-brand {
        margin-left: 100pt;
    }

    .navbar-brand img {
        height: 50pt;
    }
    .nav-btn {
        padding-top: 20pt;
    }
    #Google_Play {
        margin-left: 100pt;
    }
    .nav-btn img {
        height: 35pt;
    }
    .content_in_carousel {
        padding-top: 170pt;
        padding-left: 115pt;
    }
    .content_in_carousel p {
        font-size: 45pt;
    }
    .inner-addon .glyphicon {
        padding: 5pt;
    }
    .left-addon input { 
        padding-left: 30pt;
    }
    .navbar-right li button p {
        font-size: 20pt;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }
    .navbar-right li button {
        padding-top: 27pt;
    }
    .navbar-right {
        margin-right: 55pt;
    }
}